[submodule "wellsense-server"]
	path = wellsense-server
	url = https://github.com/ubaidillahdl/wellsense-server
[submodule "wellsense-firmware"]
	path = wellsense-firmware
	url = https://github.com/ubaidillahdl/wellsense-firmware
[submodule "wellsense-web/wellsense-app"]
	path = wellsense-web/wellsense-app
	url = https://github.com/ubaidillahdl/wellsense-app
[submodule "wellsense-web/wellsense-monitor"]
	path = wellsense-web/wellsense-monitor
	url = https://github.com/ubaidillahdl/wellsense-monitor
