[submodule "web-app/wellsense-app"]
	path = web-app/wellsense-app
	url = https://github.com/ubaidillahdl/wellsense-app
[submodule "web-app/wellsense-monitor"]
	path = web-app/wellsense-monitor
	url = https://github.com/ubaidillahdl/wellsense-monitor
[submodule "wellsense-server"]
	path = wellsense-server
	url = https://github.com/ubaidillahdl/wellsense-server
